<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapping/userMapper.xml"/>
        <mapper resource="mapping/tokenMapper.xml"/>
        <mapper resource="mapping/privilegesMapper.xml"/>
        <mapper resource="mapping/resourceMapper.xml"/>
        <mapper resource="mapping/roleMapper.xml"/>
    </mappers>
</configuration>