<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.onionch.webapp.website.mapper.MenuMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!--
        根据id查询得到一个user对象
     -->
    <select id="listAll"
            resultType="com.onionch.webapp.website.bean.Menu">
        SELECT * FROM menu
    </select>

    <insert id="create" parameterType="com.onionch.webapp.website.bean.Menu">
        INSERT INTO menu
        (serialNum,url,alias,menuName,access,created_date,updated_date)
        VALUES
        (#{serialNum},#{url},#{alias},#{menuName},#{access},now(),now())
    </insert>

    <update id="update" parameterType="com.onionch.webapp.website.bean.Menu">
        UPDATE menu set url=#{url},alias=#{alias},access=#{access},menuName=#{menuName},updated_date=now()
        WHERE serialNum=#{serialNum}
    </update>

    <update id="delete" parameterType="string">
        DELETE from menu
        WHERE serialNum=#{serialNum}
    </update>

    <select id="findBySerialNumber" resultType="com.onionch.webapp.website.bean.Menu">
        select * from menu where serialNum=#{serialNum};
    </select>

    <select id="listMenuByUserName" resultType="com.onionch.webapp.website.bean.Menu">
        SELECT m.url FROM user u LEFT JOIN role r ON u.roleId=r.id RIGHT JOIN menu m ON r.access=m.access
        WHERE u.userName=#{userName};
    </select>

</mapper>